<!doctype html>
<html lang="en">

<head>
    <title>Perfil</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/general.css">

    <script>
        let checkPassword = () => {
            if(document.getElementById('password').value == document.getElementById('password2').value) {
                document.getElementById("message").style.color = 'green';
                document.getElementById("password2").style.borderColor = 'green'
                document.getElementById("message").innerHTML = 'matching'
            } else {
                document.getElementById("message").style.color = 'red';
                document.getElementById("password2").style.borderColor = 'red'
                document.getElementById("message").innerHTML = 'not matching';
            }
        }
    </script>
</head>

<body>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>John Doe</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-4"><!--left col-->
            <div class="text-center">
                <img src="https://randomuser.me/portraits/men/18.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div></hr><br>

        <ul class="list-group">
            <li class="list-group-item text-muted">Favoritos <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Juan</strong></span><span class="mr-4">carpintero</span><button class="btn btn-p ml-4">perfil</button></li>
        </ul>
        
        </div><!--/col-3-->
    	<div class="col-sm-8">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Nombre</h4>
                                </label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" value="John"
                                    title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>Apellido</h4>
                                </label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" value="Doe"
                                    title="enter your last name if any.">
                            </div>
                        </div>
            
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="phone">
                                    <h4>Estado</h4>
                                </label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" value="Jalisco"
                                    title="Estado en el que reside">
                            </div>
                        </div>
            
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Celular</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" value="3312121212"
                                    title="teléfono celular.">
                            </div>
                        </div>
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" value="john.doe@mail.com"
                                    title="enter your email." disabled>
                            </div>
                        </div>
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Dirección</h4>
                                </label>
                                <input type="email" class="form-control" id="location" placeholder="somewhere" value="Calle numero colonia"
                                    title="enter a location">
                            </div>
                        </div>
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Contraseña</h4>
                                </label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="password" value="password"
                                    title="enter your password." onkeyup="checkPassword();">
                            </div>
                        </div>
                        <div class="form-group">
            
                            <div class="col-xs-6">
                                <label for="password2">
                                    <h4>Confirmar</h4>
                                </label>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="confirm password" value="password"
                                    title="enter your password2." style="border-color: green" onkeyup="checkPassword();">
                                <span id='message' style="color: green;">matching</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-p" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                    Guardar</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div><!--/col-9-->
    </div><!--/row-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" 
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" 
        crossorigin="anonymous">
</body>

</html>